.sponsordashboard_wrapper {
  padding: 0px 20px 20px 20px;
}
.sponsordashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.sponsor_name {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.threeLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; // number of lines
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
